.fantastic-logo {
  background-image: url(../assets/logo.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .navBar {
  display: flex;
  list-style: none;
}
